html{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: normal;
}

body{
    background-color: #fff;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 40px;
    font-weight: bold;
}

.login{
    width: 25vw;
    height: 35vh;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 8px 8px 56px 24px #F4F4F4;
}

button:hover{
    background-color: #1738ED;
}

.checkbox input{
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

input{
    width: 17vw;
    height: 6vh;
    box-sizing: border-box;
    margin-bottom: 18px;
    border-radius: 12px;
    padding: 0px 0px 0px 12px;
    border: 1px solid #BBBBBB;
}

input::placeholder{
    color: #BbBbBb;
}

button{
    width: 17vw;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    height: 6vh;   

    background-color: #5338EC;
    color: #fff;
    font-weight: 18px;
    font-style: bold;
}

.form{
    width: 25vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:641px)  {
    .login{
        width: 100vw;
        height: 100vh;
        padding: 16px;
    }
    .form{
        width: 90vw;
        height: 90vh;
    }
    button{
        width: 90vw;
    }
    .form{
        justify-content: center;
    }
    input{
        width: 90vw;
    }
}